body {
    background-color: lightcyan;
}
#nav{
    top:0;
    /* left:0vw; */
    position: fixed;
    width:99%;
    border : 5px solid red;
    margin : 0px 300px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search{
    border : 5px solid blue;
    margin : 75px 20px 20px 20px;

}

#promodujour{
    border : 5px solid red;
    margin : 20px;

}


#containercartes{
    border : 5px solid red;
    margin : 20px;
    display: flex;

}
        
.carte{
    border : 5px solid green;
    margin : 20px;

}

.carteimage{
    border : 5px solid yellow;
    margin : 20px;

}

.carteimage img{
    max-width: 150px;
}

.cartetexte{
    border : 5px solid yellow;
    margin : 20px;

}

#pieddepage{
    border : 5px solid red;
    background-color: black;
    color:forestgreen;
    margin : 20px;
    width : 100%;
    /* position:fixed;
    bottom: 0vh;
    margin-top: 50px; */
}

/* Les média queries */

@media screen and (max-width: 576px)
{
    /* Rédigez vos propriétés CSS ici */
    #containercartes{
        border : 5px solid violet;
        margin : 20px;
        display: flex;
        flex-direction: column;
    
    }

}

/* animation du xmenu */

.xmenu {
    display: inline-block;
    cursor: pointer;
  }
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
  
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
  
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
  
/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}